span {
    font-family: "Open Sans",sans-serif !important;

}
h5{
    text-transform:capitalize;
}
.logoutDiv{
    position: fixed;
    z-index: 9;
    bottom: 0px;
    background: white;
    padding: 17px;
    border-top: 1px #ddd9d9eb solid;
}
.logoutDiv span{
    cursor: pointer;
}

.navprofile{
    border: 1px #BAC5E9 solid;
    padding: 2px;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}
.navprofile.online:before {
    background-color: #3fcc35;
}
.navprofile.offline:before {
    background-color: #828282;
}
.navprofile.busy:before, .navprofile.online:before, .navprofile.offline:before, .navprofile.unreachable:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    border: 2px solid #fff;
    right: 18px;
    top: 0px;
}

.navlogo{
    background: #d7dbe552;
    padding: 12px;
    width: 135px;
    margin-left: 3px;
}
.chat-main li .chat-box .profile {
    position: absolute;
    left: 0;
    border: 1px #BAC5E9 solid;
    padding: 3px;
    width: 65px;
    height: 65px;
    border-radius: 30px;
}
.profile img{
    border-radius: 30px !important  ;
    width: 57px;
}
.profile.busy:before, .profile.online:before, .profile.offline:before, .profile.unreachable:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    border: 2px solid #fff;
    right: 8px;
    top: 5px;
}

.sidebar-top span{
    font-size: 14px;
    font-weight: normal;
}

.sidebar-top span img{
    border-radius: 0px;
    max-width: 20px;
}
.sidebar-top li{
    padding-top: 10px !important;
    padding-bottom: 10px;
    cursor: pointer;
}

.records{
    padding: 10px;
    margin-top: 20px !important;
    background: #F2FAFF;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    width: 100%;
    text-align: left !important;
}
.minutes{
    padding: 10px;
    background: #F3F2FC;
     margin-left: 0 !important;
    margin-bottom: 10px !important;
    width: 100%;
    text-align: left !important;
}

.todayDate{
    font-weight: 700 !important;
    color: #222222 !important;
    font-size: 12px !important;
}
.search2>div {
    background-color: transparent !important;
    width: 260px !important;
    height: 35px !important;
    border: 1px #e4e9f863 solid !important;
}
.chat-main li.active .details h6 {
    font-weight: 600;
    color: #888888;
    letter-spacing: 1px;
}
.chat-main li.active .details h5 {
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color: #6F66FF;
    letter-spacing: 1px;
}
.theme-tab .nav-tabs .nav-item .nav-link {
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    padding: 12px 27px ;
    min-height: 30px ;
    border-radius: 10px ;
    min-width: 140px ;
    background-color: transparent !important;
    border: none !important;
    color: #223645 !important;
    text-align: center;
    transition: all 0.3s ease;
    justify-content: center;
}
.theme-tab .nav-tabs .nav-item .nav-link.active {
    background-color: transparent !important;
    color: #1c9dea !important;
    transition: all 0.3s ease;
}
/*.theme-tab .nav-tabs .nav-item .nav-link.active:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 18px;
  border: 10px solid transparent;
  border-right-color: #DA362A;
}*/
@media screen and (max-width: 767px) {
  .search2>div {
    width: 87% !important;
    height: 35px !important;
}
.add-popup .close span {
    color: #333;
    font-size: 16px;
    position: absolute;
    top: 1px !important;
    right: 0px !important;
    background: #fff;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    padding-left: 1px;
}
.default-form .showmembers{
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    height: 320px !important;
    /* border-radius: 15px; */
    color: #647589;
    border: none;
    background: none;
    margin-bottom: 0px !important;
    overflow-x: hidden;
}
}

@media screen and (min-width: 767px) {
  .modal-content {
    width: 87% !important;
}
}
.group-main li.active {
    background-color: #bac5e93d;
    border-left: 4px solid #6C63F9;
}

.group-main .group-box .profile {
    
    position: absolute;
    left: -9px;
    border: 1px #BAC5E9 solid;
    padding: 3px;
    width: 65px;
    height: 65px;
    border-radius: 30px;
}
.media-left.mr-3{
    border: 1px #BAC5E9 solid;  
    padding: 2px;
    width: 66px;
    height: 66px !important;
    border-radius: 30px;
}
.profile.mr-4{
    border: 1px #BAC5E9 solid;
    padding: 2px;
    width: 55px;
    height: 55px !important;
    border-radius: 30px;
}
.profile.mr-4 img{
    border-radius: 30px !important  ;
    width: 48px !important;
}
.msg-setting-main .msg-dropdown-main .msg-dropdown {
    background-color: #fff;
    border: 2px solid #eff1f2;
    padding: 15px;
    border-radius: 0;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    text-align: left;
    display: none;
    transition: all 0.5s ease;
}
.msg-setting-main .msg-dropdown-main .msg-setting {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px !important;
    border: 1px #C5CEEB solid;
}
.menu-trigger {
    cursor: pointer;
    font-size: 11px;
}
.chat-friend-toggle .chat-frind-content {
    position: absolute;
    top: 69px;
    right: -40px;
    padding: 10px;
    background-color: #fff;
    text-align: left;
    display: none;
    text-transform: capitalize;
    /* left: -46px; */
}
.chat-friend-toggle .chat-frind-content ul li {
    margin-bottom: 0px;
    padding-left: 40px !important;
    position: relative;
    display: inline-flex !important;
    align-items: center;
    height: 30px;
}
.search2 .input-group .input-group-append:last-child span {
    border-left: 1px solid #e5e8e9a6;
    padding-bottom: 4px;
}

.add-popup .modal-header {
    border-bottom-color: transparent !important;
    background-color: transparent !important;
}
.add-popup .modal-footer, .add-popup .modal-header {
    padding: 10px 30px;
}
.add-popup .close {
    width: 75px;
    height: 75px;
    background: transparent;
    border-radius: 0 0 0 90px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
}
.add-popup .close span {
    color: #333;
    font-size: 16px;
    position: absolute;
    top: -11px;
    right: -9px;
    background: #fff;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    padding-left: 1px;
}
.add-popup .modal-footer .modal-title, .add-popup .modal-header .modal-title {
    color: #000000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: calc(16px + 12*(100vw - 320px)/1600);
    font-size: 15px;
}
.btn-group-sm>.btn, .btn.btn-sm {
    padding: 7px 15px;
}
.btn {
    font-size: calc(14px + 2*(100vw - 320px)/1600);
    font-weight: 400;
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 3px;
    font-size: 12px;
}
.add-popup .modal-body {
    padding: 30px;
    border-top: 1px #bac5e942 solid;
}
.default-form .form-group input {
    height: 45px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px #E5EAF9 solid;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 0.8rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.add-popup .default-form .form-group .form-control {
    padding: 15px 25px;
    margin-bottom: 9px;
}
.add-popup .modal-body {
    padding: 13px;
    border-top: 1px #bac5e942 solid;
    padding-top: 7px;
}
.modelsearch{
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-top: 1px #bac5e942 solid;
    border-bottom: 1px #bac5e942 solid;
}
.default-form .showmembers{
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    height: 325px;
    /* border-radius: 15px; */
    color: #647589;
    border: none;
    background: none;
    margin-bottom: 27px;
    overflow-x: hidden;
}
.add-popup .modal-footer, .add-popup .modal-header {
    padding: 10px 14px;
}
ul.chat-cont-setting.open {
    display: grid;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #6F66FF !important;
    border-color: #6F66FF !important;
    transition: all 0.3s ease;
    outline: none !important;
    color: #fff;
}