span {
    font-family: "Open Sans",sans-serif !important;

}
h5{
    text-transform:capitalize;
}
.logoutDiv{
    position: fixed;
    z-index: 9;
    bottom: 0px;
    background: white;
    padding: 12px 0px;
    border-top: 1px #ddd9d9eb solid;
}
.logoutDiv span{
    cursor: pointer;
}

.navprofile{
    border: 1px #BAC5E9 solid;
    padding: 2px;
    width: auto;
    height: auto;
    display: inline-block;
    border-radius: 20px;
    position: relative;
}

.navprofile.online:before {
    background-color: #3fcc35;
}
.navprofile.offline:before {
    background-color: #828282;
}
.navprofile.busy:before, .navprofile.online:before, .navprofile.offline:before, .navprofile.unreachable:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    border: 2px solid #fff;
    right: 18px;
    top: 0px;
}

.navlogo{
    background: #d7dbe552;
    padding: 12px;
    width: 135px;
    margin-left: 3px;
}
.chat-main li .chat-box .profile {
    position: absolute;
    left: 0;
    border: 1px #BAC5E9 solid;
    padding: 3px;
    width: 57px;
    height: 57px;
    border-radius: 30px;
}
.profile img{
    border-radius: 30px !important  ;
    width: 49px;
}
.profile.busy:before, .profile.online:before, .profile.offline:before, .profile.unreachable:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    border: 2px solid #fff;
    right: 8px;
    top: 5px;
}
.mainpanleProfile{
    
    border: 1px solid rgb(186, 197, 233);
    width: 71px;
    height: 71px;
    padding: 3px;
    border-radius: 32px;

}

.mainpanleProfile img{
    
  width: 63px !important;

}
.sidebar-top span{
    font-size: 14px;
    font-weight: normal;
}

.sidebar-top span img{
    border-radius: 0px;
}
.sidebar-top li{
    padding-top: 10px !important;
    padding-bottom: 10px;
    cursor: pointer;
}

.records{
    padding: 10px;
    margin-top: 20px !important;
    background: #F2FAFF;
    margin-left: 0 !important;
    margin-bottom: 10px !important;
    width: 100%;
    text-align: left !important;
}
.minutes{
    padding: 10px;
    background: #F3F2FC;
     margin-left: 0 !important;
    margin-bottom: 10px !important;
    width: 100%;
    text-align: left !important;
}

.todayDate{
    font-weight: 500 !important;
    color: #222222 !important;
    font-size: 12px !important;
}
.search2>div {
    background-color: transparent !important;
    width: 260px !important;
    height: 35px !important;
    border: 2px #e4e9f863 solid !important;
}
.chat-main li.active .details h6 {
    font-weight: 600;
    color: #888888;
    letter-spacing: 1px;
}
.chat-main li.active .details h5 {
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    color: #6F66FF;
    letter-spacing: 1px;
}
.theme-tab .nav-tabs .nav-item .nav-link {
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    padding: 9px 22px ;
    min-height: 30px ;
    border-radius: 10px ;
    min-width: 140px ;
    background-color: transparent !important;
    border: none !important;
    color: #223645 !important;
    text-align: center;
    transition: all 0.3s ease;
    justify-content: center;
}
.theme-tab .nav-tabs .nav-item .nav-link.active {
    background-color: transparent !important;
    color: #1c9dea !important;
    transition: all 0.3s ease;
}
/*.theme-tab .nav-tabs .nav-item .nav-link.active:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 18px;
  border: 10px solid transparent;
  border-right-color: #DA362A;
}*/
@media screen and (max-width: 767px) {
  .search2>div {
    width: 87% !important;
    height: 35px !important;
}
.add-popup .close span {
    color: #333;
    font-size: 16px;
    position: absolute;
    top: 1px !important;
    right: 0px !important;
    background: #fff;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    padding-left: 1px;
}
.default-form .showmembers{
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    height: 320px !important;
    /* border-radius: 15px; */
    color: #647589;
    border: none;
    background: none;
    margin-bottom: 0px !important;
    overflow-x: hidden;
}
}

@media screen and (min-width: 767px) {
  .modal-content {
    width: 87% !important;
}
}
.group-main li.active {
    background-color: #bac5e93d;
    border-left: 4px solid #6C63F9;
}

.group-main .group-box .profile {
    
    position: absolute;
    left: -9px;
    border: 1px #BAC5E9 solid;
    padding: 3px;
    width: 58px;
    height: 58px;
    border-radius: 30px;
}
.media-left.mr-3{
    border: 1px #BAC5E9 solid;  
    padding: 2px;
    width: 66px;
    height: 66px !important;
    border-radius: 30px;
}
.profile.mr-4{
    border: 1px #BAC5E9 solid;
    padding: 3px;
    width: 56px;
    height: 56px !important;
    border-radius: 30px;
}
.profile.mr-4 img{
    border-radius: 30px !important  ;
    width: 48px !important;
}
.msg-setting-main .msg-dropdown-main .msg-dropdown {
    background-color: #fff;
    border: 2px solid #eff1f2;
    padding: 15px;
    border-radius: 0;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1;
    text-align: left;
    display: none;
    transition: all 0.5s ease;
}
.msg-setting-main .msg-dropdown-main .msg-setting {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px !important;
    border: 1px #C5CEEB solid;
}
.menu-trigger {
    cursor: pointer;
    font-size: 11px;
}
.chat-friend-toggle .chat-frind-content {
    position: absolute;
    top: 69px;
    right: -40px;
    padding: 10px;
    background-color: #fff;
    text-align: left;
    display: none;
    text-transform: capitalize;
    /* left: -46px; */
}
.chat-friend-toggle .chat-frind-content ul li {
    margin-bottom: 0px;
    padding-left: 40px !important;
    position: relative;
    display: inline-flex !important;
    align-items: center;
    height: 30px;
}
.search2 .input-group .input-group-append:last-child span {
    border-left: 1px solid #e5e8e9a6;
    padding-bottom: 4px;
}

.add-popup .modal-header {
    border-bottom-color: transparent !important;
    background-color: transparent !important;
}
.add-popup .modal-footer, .add-popup .modal-header {
    padding: 10px 30px;
}
.add-popup .close {
    width: 75px;
    height: 75px;
    background: transparent;
    border-radius: 0 0 0 90px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
}
.add-popup .close span {
    color: #333;
    font-size: 16px;
    position: absolute;
    top: -11px;
    right: -9px;
    background: #fff;
    border-radius: 30px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    padding-left: 1px;
}
.add-popup .modal-footer .modal-title, .add-popup .modal-header .modal-title {
    color: #000000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: calc(16px + 12*(100vw - 320px)/1600);
    font-size: 15px;
}
.btn-group-sm>.btn, .btn.btn-sm {
    padding: 7px 15px;
}
.btn {
    font-size: calc(14px + 2*(100vw - 320px)/1600);
    font-weight: 400;
    text-transform: capitalize;
    padding: 15px 40px;
    border-radius: 3px;
    font-size: 12px;
}
.add-popup .modal-body {
    padding: 30px;
    border-top: 1px #bac5e942 solid;
}
.default-form .form-group input {
    height: 45px;
    border-radius: 3px;
    background-color: transparent;
    border: 1px #E5EAF9 solid;
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 0.8rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: .25rem;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}
.add-popup .default-form .form-group .form-control {
    padding: 15px 25px;
    margin-bottom: 9px;
}
.add-popup .modal-body {
    padding: 13px;
    border-top: 1px #bac5e942 solid;
    padding-top: 7px;
}
.modelsearch{
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-top: 1px #bac5e942 solid;
    border-bottom: 1px #bac5e942 solid;
}
.default-form .showmembers{
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.15);
    padding: 0;
    text-transform: capitalize;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    height: 325px;
    /* border-radius: 15px; */
    color: #647589;
    border: none;
    background: none;
    margin-bottom: 27px;
    overflow-x: hidden;
}
.add-popup .modal-footer, .add-popup .modal-header {
    padding: 10px 14px;
}
ul.chat-cont-setting.open {
    display: grid;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #6F66FF !important;
    border-color: #6F66FF !important;
    transition: all 0.3s ease;
    outline: none !important;
    color: #fff;
}
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #6F66FF;
}
.modal-backdrop.show {
    opacity: .6;
}
.call-log-main li .call-box .profile {
    position: absolute;
    left: 0;
    border: 1px #BAC5E9 solid;
    padding: 3px;
    width: 57px;
    height: 57px;
    border-radius: 30px;
}
.group-box .profile img {
    border-radius: 30px !important;
    width: 50px;
}
.chitchat-right-sidebar .contact-profile {
    padding: 20px;
    padding-left: 0px !important;
}
.close-profile{
   position: fixed;
    left: -32px !important;
    top: 6px !important;
    height: 21px !important;
    width: 22px !important;
    font-size: 13px;
    color: black !important;
    background-color: white !important;
    border-radius: 100% !important;
    padding: 3px;
}
.chitchat-right-sidebar .contact-profile .details .contact-top {
    height: 130px;
    width: 130px;
    box-shadow: 0 0 0 0 !important;
    margin: 0 auto;
    background-image: none !important;
    padding: 4px;
    border: 1px solid rgb(186, 197, 233);
    border-radius: 55px;
}
.chitchat-right-sidebar .contact-profile .details .contact-top img {
   display: block !important;
    width: 120px;
    height: 120px;
    border-radius: 50% !important;
}

.contact-top.profile.busy:before, .contact-top.profile.online:before, .contact-top.profile.offline:before, .contact-top.profile.unreachable:before {
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    border-radius: 100%;
    border: 2px solid #fff;
    right: 20px;
    top: 11px;
}
.chitchat-right-sidebar .document, .chitchat-right-sidebar .media-gallery, .chitchat-right-sidebar .status {
    border-top: 1px solid #eff1f2;
    padding: 3px 15px;
}
.collapse-block .block-title {
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 12px;
    font-size: 12px;
    font-weight: 600;
}
.chitchat-container .chitchat-right-sidebar {
    min-width: 330px !important;
    width: 330px !important;
}
.groupUsers .usersprof
{
    display: flex;
    justify-content: center;
}
.groupUsers .usersprof .profile {
    max-width: 30px;
    max-height: 30px;
    border-radius: 100%;
    border: 1px solid #BAC5E9;
    margin-bottom: 8px;
    padding: 2px;
    background-image: none !important;
}
.groupUsers .usersprof .profile img {
    display: block !important;
    width: 24px !important;
}
.groupUsers .usersprof .profile+.profile {
    margin-left: -7px;
}
.usersCount{
    background: black;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    color: white;
    line-height: 23px;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
}
.addGroups{
    border-style: dotted;
    width: 35px;
    height: 35px;
    border-radius: 13px;
    border-color: #BAC5E9;
    margin-left: 13px;
    margin-top: -4px;
    border-width: 2.4px;
    cursor: pointer;
}
.viddiolog.modal.fade .modal-dialog {
    max-width: 900px;
}
.viddiolog .videocall.call-modal{
    min-height: 78vh !important;
    background: #6F66FF;
    background-image: none !important;
}
#basicUsage {
    font-size: 16px;
    color: #fff;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    width: 100px;
}
.audiocall1.call-modal .center-con, .audiocall2.call-modal .center-con, .conferencecall.call-modal .center-con, .videocall.call-modal .center-con, .videocallhang.call-modal .center-con {
    position: absolute;
    bottom: 40px;
    width: 100%;
}
.videocall.call-modal .videocall-details, .videocallhang.call-modal .videocall-details {
    position: absolute;
    top: 0px;
    padding: 20px;
    right: 0;
    left: 0;
    align-items: center;
}
.videocall.call-modal .small-image, .videocallhang.call-modal .small-image {
    width: 201px !important;
    height: 185px !important;
    position: absolute;
    left: 40px;
    bottom: 5%;
}
ul.call-cont-setting {
    background-color: #fff;
    box-shadow: 0 0 10px #e5edf5;
    padding: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    position: fixed;
    left: 1%;
    bottom: 65%;
    z-index: 1;
    display: none;
    transition: all 0.5s ease;
}
ul.call-cont-setting li {
    margin-bottom: 5px !important;
    
}
ul.call-cont-setting li a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left
}
ul.call-cont-setting li a span {
    padding: 5px;
    line-height: 1;
    text-transform: capitalize;
    margin-right: 0px;
    font-size: 12px;
}
.audiocall1.call-modal ul li+li, .audiocall2.call-modal ul li+li, .videocall.call-modal ul li+li, .videocallhang.call-modal ul li+li, .conferencecall.call-modal ul li+li {
    margin-left:12px;
}
.calloption-close {
    width: 75px;
    height: 75px;
    background: transparent;
    border-radius: 0 0 0 90px;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
}
.calloption-close span {
    color: #333;
    font-size: 14px;
    position: absolute;
    top: -8px;
    right: -6px;
    background: #fff;
    border-radius: 30px;
    width: 15px;
    height: 15px;
    line-height: 17px;
    padding-left: 0px;
}
.option-btn {
    border: 1px solid white !important;
    border-radius: 3px !important;
    color: white !important;
    height: 28px !important;
    width: 28px !important;
}
.chitchat-main .o2omessageschat {
    padding: 0px;
    padding-top: 45px;
    padding-bottom: 45px;
    height: calc(707px - 101px);
    min-height: calc(100vh - 95px);
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-blend-mode: overlay;
    top: 0;
    background-color: #F3F6FF;
    display: none;
    -webkit-animation: fadeInLeft 300ms ease-in-out;
    animation: fadeInLeft 300ms ease-in-out;
}
.chat-main li, .call-log-main li, .contact-log-main li {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 5px;
    padding-right: 5px;
}
.chitchat-container .chitchat-left-sidebar .recent-default .chat>.theme-tab.chat-tabs .nav-tabs {
    padding-bottom: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.msg-chat-modal .chat-main, .msg-chat-modal .call-log-main {
    height: 425px;
    overflow: auto;
}
.chitchat-container .chitchat-left-sidebar .recent-default .recent {
    position: fixed;
    top: 0;
    background-color: #fff;
    padding-top: 18px;
    z-index: 1;
}
.chitchat-container .chitchat-left-sidebar .recent-default .recent .theme-title {
    padding: 0 10px;
}
.chat-main li .chat-box .date-status .status {
    padding-top: 9px;
    font-weight: 600;
    letter-spacing: .5px;
}
.chitchat-container .main-nav .logo-warpper {
    text-align: center;
    padding-bottom: 18px;
    border-bottom: 1px solid #eff1f2;
}
#myTab li{
    margin: 0px;
}
.chitchat-container .chitchat-left-sidebar .recent-default .chat>.theme-tab .nav-tabs .nav-item .nav-link {
    min-width: 90px;
}
.chitchat-main .messages .contact-details {
    padding: 8px 12px;
    background-color: #fff;
    box-shadow: 0 -55px 0px 0px #F3F6FF;
    position: fixed;
    width: calc(100vw - 500px);
    z-index: 999;
    transition: all 0.9s;
    border-radius: 5px;
}
.theme-tab .nav-tabs .nav-item .nav-link {
    font-size: calc(14px + (15 - 14) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    padding: 9px 22px;
    min-height: 30px;
    border-radius: 10px;
    min-width: 140px;
    background-color: transparent !important;
    border: none !important;
    color: #223645 !important;
    text-align: center;
    transition: all 0.3s ease;
    justify-content: center;
}